<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
      <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="flex - flex-col min-h-screen">
    {{!-- navbar --}}
    <nav class="bg-black p-4 text-white">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-2xl font-bold">Tarik's Tech Blog</a>
            <div>
                {{#if isLogged}}
                <a href="/dashboard" class="mr-4">Dashboard</a>
                <a href="/logout">Logout</a>
                {{else}}
                <a href="/login" class="mr-4">Login</a>
                <a href="/signup">Signup</a>
                {{/if}}
            </div>
        </div>
    </nav>

    <!-- page -->
    <div class="flex-1">
    {{{body}}}
</div>
    <!-- Footer -->
    <footer class="bg-black text-white text-center py-4">
        <div class="container mx-auto">
            &copy; 2024 Tech Blog - Muhsin Tarik Orgerim
        </div>
    </footer>
</body>



</html>